version: '3'

services:
  web:
    build: .
    ports:
      - 4000:4000
    volumes:
      - .:/app
    environment:
      - MIX_ENV=dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_DB=website_dev
    depends_on:
      - db  

  db:
    image: postgres:12-alpine 
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - POSTGRES_DB=website_dev

